@font-face {
    font-family:'andes' ;
    src: url('fonts/Andes.ttf');
}
@font-face {
    font-family:'gothic';
    src: url('fonts/gothic.ttf');
}

body{
    display: flex;
    margin: 0px;
    box-sizing: border-box;
    background-image: url('img/background7.jpg');
    background-size: 32em;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
nav{
    top: 0px;
    display: flex;
    justify-content: flex-start;
    background-color: #22201b;
    align-items: center;
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
    z-index: 2;
}
nav a{
    margin: 0px 2rem;
    text-decoration: none;
    
    font-family: 'andes';
    font-size: 3rem;
    color: transparent;
    background-image: linear-gradient(
        to right,
        #6b3936 0,
           #cb9b51 22%, 
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #6b3936 100%
        );
    -webkit-background-clip:text;
}
#secciones{
    display: flex;
    justify-content: space-around;
    margin: 1rem ;
    flex-wrap: wrap;
}
#logo_nav{
    display: flex;
    width: fit-content;
}
#logo_nav img{
    width: 4rem;
    margin: 1rem ;
}
.body_intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9rem;
    background-color: #202020ee;
    padding: 0px 1.5rem;

    color: whitesmoke;
    width: 80%;
}
.body_main{
    margin-top: 1rem;
    padding: 1.5rem;
    background-color: #202020ee;
    width: 80%;
    color: #d6d6d6;
}
h1{
    text-align: center;
    width: fit-content;
    font-family: 'andes';
    font-size: 3rem;
    color: transparent;
    background-image: linear-gradient(
        to right,
        #6b3936 0,
           #cb9b51 22%, 
        #f6e27a 45%,
        #fff89dc5 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #6b3936 100%
        );
    -webkit-background-clip:text;
    margin: 0.7rem 0px;
}
table{
    background-color: #0d0c0cDD;
    border: 2px whitesmoke solid ;
    border-collapse: collapse;
    
    overflow: auto;
}
thead tr{
    width: 100%;
    color: black;
    background-image: linear-gradient(
        to right,
        #6b3936 0,
           #cb9b51 22%, 
        #f6e27a 45%,
        #fff89dc5 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #6b3936 100%
    );
    font-family: 'gothic';
    font-weight: bold;
    border: darkgoldenrod;
    font-size: 1.7em;
    
}
tr{
    border: 2px whitesmoke solid;
    height: 90px; 
    max-height: 90px;
    min-height: 90px;         
}
.par{
    background-color: #826c4edd;
}
td{
    width: 16.5%;
    border: 2px whitesmoke solid;
    font-family: 'Satisfy', cursive;
    font-size: 1.6em;
    text-align: center;
    padding: 0.5rem;
}
td .table_img{
    
    object-fit: fill;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}
.td_img{
    padding: 0px;
}
table *{
    box-sizing: border-box;
}