@font-face {
    font-family:'andes' ;
    src: url('fonts/Andes.ttf');
}
@font-face {
    font-family:'gothic';
    src: url('fonts/gothic.ttf');
}

body{
    display: flex;
    margin: 0px;
    box-sizing: border-box;
    background-image: url('img/background.jpg');
    align-items: center;
    flex-direction: column;
}

nav{
    top: 0px;
    display: flex;
    justify-content: space-around;
    background-color: #1c1a15;
    align-items: center;
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
}
nav a{
    margin: 0px 2rem;
    text-decoration: none;
    
    font-family: 'andes';
    font-size: 3rem;
    color: transparent;
    background-image: linear-gradient(
        to right,
        #6b3936 0,
           #cb9b51 22%, 
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #6b3936 100%
        );
    -webkit-background-clip:text;
}
#logo_nav{
    display: flex;
    width: fit-content;
}
#logo_nav img{
    width: 4rem;
    margin: 1rem ;
}
#secciones{
    display: flex;
    justify-content: space-around;
    margin: 1rem ;
    flex-wrap: wrap;
}
#login{
    display: flex;
    flex-direction: column;
    margin: 1rem ;
}
#login form div label{
    color: whitesmoke;
    margin-right: 1rem ;
    font-family: 'gothic';
}
#user, #password, #button{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.3rem;
    
}
#boton{
    width: 100%;
    color: black;
    background-image: linear-gradient(
        to right,
        #462523 0,
        #cb9b51 22%, 
        #d69810ad 45%,
        #e9d14cc4 50%,
        #d69810ad 55%,
        #cb9b51 78%,
        #462523 100%
    );
    font-family: 'gothic';
    font-weight: bold;
    border: darkgoldenrod;
}
input{
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid #ed9e00;
    font-family: 'gothic';
    color: whitesmoke;
}
.body_intro a{
    margin-top: 2rem;
    text-align: center;
    width: fit-content;
    font-family: 'andes';
    font-size: 3.5rem;
    color: transparent;
    background-image: linear-gradient(
        to right,
        #6b3936 0,
           #cb9b51 22%, 
        #f6e27a 45%,
        #fff89dc5 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #6b3936 100%
        );
    -webkit-background-clip:text; 
}
.body_intro{
    display: flex;
    margin-top: 9rem;
    background-color: #202020ee;
    width: 80%;
    color: whitesmoke;
    padding: 0px 2rem;
    flex-direction: column;
    align-items: center;
}
.introduccion{
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
.body_main{
    margin-top: 1rem;
    background-color: #202020ee;
    width: 80%;
    color: #d6d6d6;
    padding: 2rem;
}
.informacion{
    text-align: justify;
    font-family: 'Orelega One';
    font-size: 1.4rem;
}
p{
    font-family: 'Orelega One';
}
.retrato{
    width: 140px;
    margin: 0.5rem;
}
figcaption{
    text-align: center;
    font-family: 'gothic';
    font-size: 0.9em;
    margin: 0.5rem ;
}
figure{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: whitesmoke 1px solid;
    width: 160px;
    margin-left: 1rem;
}
.for_figure{
    display: flex;
    
}
.forfigure{
    margin-top: 1.5rem;
}