@font-face {
    font-family:'andes' ;
    src: url('fonts/Andes.ttf');
}
@font-face {
    font-family:'gothic';
    src: url('fonts/gothic.ttf');
}

body{
    display: flex;
    margin: 0px;
    box-sizing: border-box;
    background-image: url('img/background4.jpg');
    background-size: 15%;
    align-items: center;
    flex-direction: column;
}
nav{
    top: 0px;
    display: flex;
    justify-content: flex-start;
    background-color: #22201b;
    align-items: center;
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
    z-index: 2;
}
nav a{
    margin: 0px 2rem;
    text-decoration: none;
    
    font-family: 'andes';
    font-size: 3rem;
    color: transparent;
    background-image: linear-gradient(
        to right,
        #6b3936 0,
           #cb9b51 22%, 
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #6b3936 100%
        );
    -webkit-background-clip:text;
}
#secciones{
    display: flex;
    justify-content: space-around;
    margin: 1rem ;
    flex-wrap: wrap;
}
#logo_nav{
    display: flex;
    width: fit-content;
}
#logo_nav img{
    width: 4rem;
    margin: 1rem ;
}
.body_intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9rem;
    background-color: #202020ee;
    
    color: whitesmoke;
    width: 80%;
}
.body_main{
    margin-top: 1rem;
    padding: 1.5rem;
    background-color: #202020ee;
    width: 80%;
    color: #d6d6d6;
}
h1{
    text-align: center;
    width: fit-content;
    font-family: 'andes';
    font-size: 3rem;
    color: transparent;
    background-image: linear-gradient(
        to right,
        #6b3936 0,
           #cb9b51 22%, 
        #f6e27a 45%,
        #fff89dc5 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #6b3936 100%
        );
    -webkit-background-clip:text;
    margin: 0.7rem 0px;
}
details{
    width: 100%;
    display: flex;
    cursor: pointer;
}
summary{
    font-family: 'gothic';
    color: whitesmoke;
    font-size: 1.5rem;
}
h2{
    font-family: 'gothic';
    color: whitesmoke;
    font-size: 1.5rem;
}
article{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

p{
    width: 80%;
    font-family: 'gothic';
    font-size: 1.2rem;
    text-align: justify;
}
figcaption{
    text-align: center;
    font-family: 'gothic';
    font-size: 0.9em;
    margin: 0.5rem ;
}
figure{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: whitesmoke 1px solid;
    padding: 1rem;
    margin: 1.5rem 0px;
    height: fit-content;
    
}
figure img{
    width: 100%;
}
.borja{
    width: 30%;
}

